ion-content {
    ion-grid {
        ion-row {
            ion-col {
                ion-list {
                    ion-item {
                        .icon-discipline {
                            padding-right: 15px;
                        }

                        .name-teacher {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}