<ion-header>
  <ion-toolbar color="{{ color }}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ title | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="{{ color }}" padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="6" size-md="9" size-lg="9" size-xl="6">
        <ion-list no-padding>
          <ion-list-header color="{{ color }}">
            <ion-label>Choice discipline</ion-label>
          </ion-list-header>
          <ion-item color="{{ color }}" *ngFor="let item of listingDiscipline" (click)="goToDiscipline(item)">
            <ion-icon name="{{ item.icon }}" class="icon-discipline"></ion-icon> 
            <ion-label stacked text-wrap>{{ item.nameDiscipline }}</ion-label>
            <ion-label text-right text-wrap class="name-teacher">{{ item.nameTeacher }}</ion-label>
            <ion-icon slot="end" name="arrow-round-forward"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>