<ion-header>
  <ion-toolbar color="{{ color }}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ title | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="{{ color }}">
  <form [formGroup]="feedbackFormGroup">
    <ion-list>
      <ion-item>
        <ion-label>
          FirstName
        </ion-label>
        <ion-input type="text" formControlName="firstname"></ion-input>
      </ion-item>
      <ion-item *ngIf="firstname.hasError('required') && firstname.touched">
        <p> *FirstName is required</p>
      </ion-item>
      <ion-item>
        <ion-label>
          LastName
        </ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-item>
      <ion-item *ngIf="lastname.hasError('required') && lastname.touched">
        <p> *LastName is required</p>
      </ion-item>
    </ion-list>

    <button clear ion-button>Submit</button>
  </form>

</ion-content>