<ion-header>
  <ion-toolbar color="{{ color }}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ title | uppercase}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="{{ color }}">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="24" size-md="24" size-lg="24" size-xl="24">

        <form (ngSubmit)="logForm()" [formGroup]="loginFormGroup">
          <ion-item color="{{ color }}">
            <ion-label position="floating">Login</ion-label>
            <ion-input type="text" name="login" formControlName="login" required></ion-input>
          </ion-item>
          <ion-item *ngIf="login.invalid && login.touched" color="{{ color }}" lines="none">
            <ion-label color="danger" class="form-error">
              {{ errorLogin }}
            </ion-label>
          </ion-item>

          <ion-item color="{{ color }}">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="password" formControlName="password" required></ion-input>
          </ion-item>
          <ion-item *ngIf="password.invalid && password.touched" color="{{ color }}" lines="none">
            <ion-label color="danger" class="form-error">
              {{ errorPassword }}
            </ion-label>
          </ion-item>

          <ion-toolbar color="{{ color }}" padding-top>
            <ion-button [disabled]='!loginFormGroup.valid' [color]="colorSubmit" slot="end" shape="round" fill="outline"
              type="submit">Log In</ion-button>
          </ion-toolbar>
        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>