ion-content {
    ion-grid {
        height: 100vh;
        margin-top: -56px;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-row {
            ion-col {
                form {
                    border: 2px solid var(--ion-color-shade);
                    border-radius: 5px;
                    padding: 20px;

                    ion-item {

                        ion-label {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}