ion-content {
    ion-grid {
        ion-row {
            ion-col {
                div {
                    ion-text {
                        color: var(--ion-color-contrast);
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}