<ion-header>
  <ion-toolbar color="{{ color }}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ title | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="{{ color }}" padding (window:resize)="onResize($event)">
  <ion-grid *ngFor="let item of items; let i = index">
    <ion-row text-center>
      <ion-col size="12" size-md col-md *ngFor="let item of numberColums; let j = index" align-self-center>
        <ion-card *ngIf="(j + 1 * i + 1) % 2 !== 0" color="{{ color }}">
          <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg">
          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>

        <div *ngIf="(j + 1 * i + 1) % 2 === 0" padding-top padding-bottom>
          <ion-text>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week
            in the woods. Wash your spirit clean.
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>