<ion-app>
  <ion-content>
    <ion-menu side="start" menuId="custom">
      <ion-header>
        <ion-toolbar color="{{ color }}">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content color="{{ color }}">
        <ion-list [ngStyle]="{'background': 'inherit'}">
          <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
            <ion-item color="{{ color }}" [routerDirection]="'root'" [routerLink]="[page.url]">
              <ion-icon [ngStyle]="{'margin-left': 15 * page.level + 'px', 'margin-right': '15px'}" slot="start" [name]="page.icon" ></ion-icon>
              <ion-label>
                {{page.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer>
        <ion-toolbar color="{{ color }}">
          <ion-buttons slot="start">
            <ion-button (click)="changeTheme()">
              <ion-icon name="color-palette"></ion-icon>
            </ion-button>
          </ion-buttons>

          <ion-title text-right>Nikulux</ion-title>
          <ion-title text-right [ngStyle]="{'font-size': '1em'}">2017 - {{ currentYear }}</ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-content>
</ion-app>