<ion-header>
    <ion-toolbar color="{{ color }}">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        {{ title | uppercase }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="{{ color }}">

</ion-content>
