.title-good-morning {
    font-size: 2em;
    text-align: center;
    padding: 50px 20px 50px 20px;
    border: 8px solid var(--ion-color-shade);
}

.good-morning-wrapper { 
    height: 100vh;
    margin-top: -82px;
    display: flex;
    align-items: center;
    justify-content: center;
}
