<ion-header >
  <ion-toolbar color="{{ color }}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="{{ color }}">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size="8">
        <div class="good-morning-wrapper">
          <div text-center class="title-good-morning">
            Good morning
            <br *ngIf="nameUser">
            {{ nameUser }}
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>