<ion-header>
  <ion-toolbar color="{{ color }}">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ title | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="{{ color }}">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="6" size-md="9" size-lg="9" size-xl="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title text-center>
              Self-Testing
            </ion-card-title>
          </ion-card-header>
          <ion-img [src]='background'></ion-img>
          <ion-card-content>
            Данная система предоставляет возможность прохождения тестов по различным учебным дисциплинам с
            предоставлением
            разнообразных актуальных дополнительных материалов
          </ion-card-content>
          <ion-card-content class="author" text-right>Author: Nikulux</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="{{ color }}">
    <ion-title class="about-app-footer-title" slot="end">version: {{ appNumberVersion }} | build: {{ appNumberBuild }}
    </ion-title>
  </ion-toolbar>
</ion-footer>