ion-content {
    ion-grid {
        height: calc(100vh - 56px * 2);
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-row {
            ion-col {
                ion-card {
                    ion-card-header {
                        ion-card-title {
                            color: var(--ion-color-contrast);
                            font-weight: bold;
                        }
                    }

                    ion-card-content {
                        color: var(--ion-color-contrast);

                        @media screen and (orientation: landscape) {
                            font-size: 1.3em;
                        }
                    }

                    .author {
                        font-size: 0.9em;

                        @media screen and (orientation: landscape) {
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
    }
}

ion-footer {
    ion-toolbar {
        .about-app-footer-title {
            font-size: 0.7em;

            @media screen and (orientation: landscape) {
                font-size: 0.9em;
            }
        }
    }
}